@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}
.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
.main{
    width: 420px;
    background-color: var(--Very-Dark-Blue);
    border-radius: 20px;
    padding: 30px;
    margin: 0 auto;
}
.form{
    /* display: none; */

}
.form .rating-text{
    color: var(--White);
    padding: 20px 0;
    font-size: 1.7rem;
}
.form .rating-para{
    padding: 10px 0;
    color: var(--Light-Grey);
}
.form .input-div{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}
.btn{
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    font-size: 1.1rem;
    border-radius: 100%;
    color: var(--Medium-Grey);
    background-color: var(--Dark-Blue);
}
.form .submit:hover{
    background-color: var(--White);
    color: var(--Orange);
}
.form .submit{
    width: 100%;
    margin: 20px 0;
    border-radius: 50px;
    height: 50px;
    text-transform: uppercase;
    font-size: 1.15rem;
    font-weight: 400;
    background-color: var(--Orange);
    color: var(--White);
    letter-spacing: 2px;
}
.form figure{
    width: 50px;
    height: 50px;
    background-color: var(--Dark-Blue);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form .btn:hover{
    background-color: var(--Orange);
    color: var(--White);
}

.active{
    background-color: var(--Light-Grey);
    color: var(--White);
}
.section{
    display: none;
    text-align: center;

}
.selected{
    padding: 10px;
    background-color: var(--Dark-Blue);
    color: var(--Orange);
    width: 170px;
    border-radius: 50px;
    margin: 20px auto;
}
.thx{
    font-weight: 700;
    font-size: 1.9rem;
    color: var(--White);
}
.para{
    margin: 20px auto;
    color: var(--Medium-Grey);
}